Repository Charlie-XIAO/ML3M: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, future-annotations

mypy:
  name: mypy
  entry: mypy
  language: system

future-annotations:
  name: future-annotations
  entry: from __future__ import annotations
  language: pygrep
  args:
  - --negate

added tests
  .gitignore
  .pre-commit-config.yaml
  conftest.py
  ml3m/base/eval.py
  ml3m/base/tests/__init__.py
  ml3m/base/tests/test_eval.py
  pyproject.toml
Due: mypy, future-annotations

resolve: annot find implementation or library stub for pytest
  .pre-commit-config.yaml
  pyproject.toml
Due: none

add more tests for base evalutor
  ml3m/base/eval.py
  ml3m/base/tests/test_eval.py
  pyproject.toml
Due: mypy, future-annotations

added more tests for the base evalutor scoring methods
  conftest.py
  ml3m/base/eval.py
  ml3m/base/tests/test_eval.py
  pyproject.toml
Due: mypy, future-annotations

100% coverage for base/eval
  ml3m/base/eval.py
  ml3m/base/tests/test_eval.py
Due: mypy, future-annotations

try adding coverage and unit testing workflow
  .github/workflows/unittest.yaml
Due: none

fix wrong package name pycoverage -> coverage
  .github/workflows/unittest.yaml
Due: none

try fixing workflow
  .github/workflows/unittest.yaml
Due: none

min 3.10+ for now
  .github/workflows/linting.yaml
  .github/workflows/unittest.yaml
  docs/basics/installation.rst
Due: none

resolve mypy
  ml3m/_metrics.py
  ml3m/base/eval.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

try fixing upload to codecov
  .github/workflows/unittest.yaml
Due: none

modified workflow
  .github/workflows/code-check.yaml
  .github/workflows/codecov.yaml
  .gitignore
Due: none

updated workflow + a few badges
  .github/workflows/codecov.yaml
  README.md
Due: none

try supporting 3.8+
  .github/workflows/code-check.yaml
  README.md
  docs/basics/installation.rst
  ml3m/base/tests/test_eval.py
  ml3m/utils/openai.py
  setup.py
Due: mypy, future-annotations

refactored async runner
  ml3m/_async.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/base/tests/test_eval.py
  ml3m/tests/__init__.py
  ml3m/tests/test_async.py
Due: mypy, future-annotations

improve test coverage
  ml3m/_color.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/tests/test_async.py
  ml3m/tests/test_docstring.py
Due: mypy, future-annotations

omit typing from coverage
  ml3m/tests/test_async.py
  pyproject.toml
Due: mypy

init testing for response generator
  ml3m/base/tests/test_generate.py
Due: mypy, future-annotations

test generate
  ml3m/base/generate.py
  ml3m/base/tests/test_eval.py
  ml3m/base/tests/test_generate.py
Due: mypy, future-annotations

generate 100% coverage
  ml3m/base/generate.py
  ml3m/base/tests/test_generate.py
Due: mypy, future-annotations

test overwrite
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/base/tests/test_eval.py
  ml3m/base/tests/test_generate.py
Due: mypy, future-annotations

prepare for 0.0.3 release
  ml3m/__init__.py
  requirements.txt
  setup.py
Due: mypy

quick fix
  ml3m/_async.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/base/tests/test_eval.py
  ml3m/base/tests/test_generate.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

quick bump 0.0.4
  ml3m/__init__.py
Due: mypy

doc update
  docs/basics/evaluators.rst
  docs/basics/generators.rst
  docs/basics/installation.rst
  docs/conf.py
  docs/examples.rst
  docs/examples/create_eval.rst
  docs/examples/files/orig_dataset.jsonl
  docs/index.rst
Due: mypy

update workflows for multi-platforms
  .github/workflows/linting.yaml
  .github/workflows/unittest.yaml
Due: none

refactored code, doc to be updated
  docs/basics/evaluators.rst
  docs/basics/generators.rst
  ml3m/_async.py
  ml3m/_color.py
  ml3m/_display.py
  ml3m/_emoji.py
  ml3m/_logging.py
  ml3m/_version.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/base/tests/test_generate.py
  ml3m/mcq/eval.py
  ml3m/qa/eval.py
  ml3m/tests/test_async.py
Due: mypy, future-annotations

bump to 0.0.5 due to major bugs
  ml3m/__init__.py
  ml3m/_display.py
  ml3m/base/eval.py
  ml3m/base/generate.py
Due: mypy, future-annotations

improved display bug
  ml3m/_display.py
Due: mypy, future-annotations

bump
  ml3m/__init__.py
  ml3m/_async.py
  ml3m/base/eval.py
  ml3m/base/generate.py
Due: mypy, future-annotations

0.0.10
  ml3m/__init__.py
  ml3m/_async.py
  ml3m/_display.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/base/tests/test_eval.py
  ml3m/mcq/eval.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

0.0.12
  ml3m/__init__.py
  ml3m/_display.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/mcq/eval.py
Due: mypy, future-annotations

0.0.13
  ml3m/__init__.py
  ml3m/_display.py
  ml3m/mcq/eval.py
  pyproject.toml
Due: mypy, future-annotations

improve error message
  ml3m/mcq/eval.py
Due: mypy, future-annotations

improve error message
  ml3m/__init__.py
  ml3m/base/eval.py
  ml3m/base/generate.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

improve mcq querying
  ml3m/__init__.py
  ml3m/mcq/eval.py
Due: mypy, future-annotations

fix mcq response processing bug
  ml3m/__init__.py
  ml3m/mcq/eval.py
Due: mypy, future-annotations

update
  ml3m/_typing.py
  ml3m/mcq/eval.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

bump to 0.0.18
  ml3m/__init__.py
Due: mypy

bump to 0.0.19
  ml3m/__init__.py
  ml3m/qa/eval.py
Due: mypy, future-annotations

Path conditions:
  mypy: any of: \.py$
  future-annotations: any of: ^ml3m/ and \.py$ and not ((?x)^(
  ml3m/tests/.*|
  .*/__init__\.py|
  ml3m/_docstring.py|
  ml3m/_emoji.py|
  ml3m/_version.py
)
)
